django
djangorestframework
gunicorn
psycopg2-binary
dj-database-url
pandas
numpy
scikit-learn
sentence-transformers
pdfplumber
python-docx
requests
ffmpeg-python
rapidfuzz
PyPDF2
nltk
whitenoise
vosk
